COMPOSE_FILE=hacks/docker-compose/postgres.yaml
COMPOSE_PATH_SEPARATOR=:
COMPOSE_PROJECT_NAME=shiftschedule
CONTAINER_REGISTRY=
DOCKER_MIRROR=
ENVIRONMENT=development
POSTGRES_DB=shiftschedule
POSTGRES_USER=user
POSTGRES_PASSWORD=Password123
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_ENABLE_TLS=false
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=Password123
API_HOST=0.0.0.0
API_PORT=8080
