body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative; /* Ensure it's in the stacking context */
  z-index: 1000; /* Bring the header above other elements */
  background-color: #1e1e1e;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: #333; /* Dark background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo h1 {
  font-size: 1.8rem;
  color: #f1f1f1;
  margin: 0;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #bbb; /* Light grey text */
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links .active {
  color: #00bcd4; /* Light blue color for active link */
}

.nav-links a:focus {
  outline: none;
  border-bottom: 2px solid #00bcd4; /* Adds a focus effect */
}
