/* General page background */
body {
  background:
    linear-gradient(135deg, rgba(24, 24, 24, 0.9), rgba(0, 0, 0, 0.8)),
    url("https://www.transparenttextures.com/patterns/asfalt.png");
  background-size: cover;
  background-attachment: fixed;
  color: #fff; // Ensuring text remains white on dark background
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: row; /* Set horizontal layout for content */
  justify-content: flex-start;
}

/* Home container for centering content */
.home-container {
  display: flex;
  flex-direction: row; /* Align tables (left side) and future content (right side) horizontally */
  width: 98%;
  padding: 20px;
  margin: 0;
  justify-content: space-between;
  gap: 20px; /* Space between left and right content */
}

.left-content {
  width: 65%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background */
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.right-content {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background */
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

/* Current Week Input Container */
.current-week-container {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.current-week-container label {
  font-weight: bold;
  color: #ffcc00;
}

input[type="number"] {
  padding: 8px;
  font-size: 16px;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ffcc00;
  background-color: #333;
  color: #fff;
  margin-top: 10px;
}

input[type="number"]:focus {
  outline: none;
  border-color: #ffcc00;
  background-color: #444;
}

.table-container {
  margin-bottom: 30px;
  padding: 10px;
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

h3 {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #333;
}

.table th {
  background-color: #333;
}

.table td {
  background-color: #222;
}

.table tr:nth-child(even) td {
  background-color: #333;
}

.table tr:hover td {
  background-color: #444;
}

.highlight-row {
  background-color: #ffcc00;
  font-weight: bold;
  color: #00ffff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
