.all-schedules-container {
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  color: #ffcc00;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
